.beta {
    position    : absolute;
    top         : 33px;
    left        : 139px;
    color       : yellow;
    font-size   : 10px;
    font-family : "Monaco", "Inconsolata", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.x-boxselect input {
    padding-left : 3px;
}

.viewport-top-toolbar {
    overflow      : visible;
    color         : #fff;
    padding-right : 10px;
}

.viewport-top-toolbar a {
    color           : #fff;
    text-decoration : none;
}

.viewport-top-toolbar .x-box-inner {
    overflow : visible;
}

.user-avatar img {
    height : 35px;
    border : 1px solid #f6f6f6;
    margin : 9px 0 0 3px;
}

dl.userinfo {
    line-height : 1.2em;
    padding-top : 8px;
}

.userinfo dd {
    text-align  : center;
    font-weight : bold;
}

.star {
    background : url('/media/img/star_emp.png');
    transition : opacity 0.5s;
}

.filledStar, .filledStar .star {
    background : url('/media/img/star_full.png');
}

.filledStar .star {
    display : block !important;
}

.x-grid-cell .star {
    float  : right;
    width  : 16px;
    height : 16px;
}

.rating {
    font-size : 10px;
}

.rate_down {
    margin-right : 10px;
    color        : #FF0000;
    font-size    : 14px;
}

.rate_up {
    margin-left : 10px;
    color       : #00FF00;
    font-size   : 14px;
}

#disqus_thread {
    position    : absolute;
    left        : -10000px;
    top         : -10000px;
    overflow    : auto;
    margin-left : 10px;
}

.homepanel h2 {
    color      : #666;
    font-size  : 3em;
    padding    : 20px 0 0 0;
    text-align : center;
    margin     : 0;
}

.homepanel .logo-ct {
    height     : 60%;
    overflow   : hidden;
    text-align : center;
    clear      : both;
}

.homepanel .x-panel-body {
    background      : url(../img/siestalogo.png) no-repeat center center;
    background-size : 20%;
}

.homepanel .footer {
    background-color : #ebebeb;
    position         : absolute;
    bottom           : 0;
    left             : 0;
    height           : 100px;
    width            : 100%;
}

.homepanel .footer dl {
    float        : left;
    width        : 33%;
    height       : 100%;
    border-right : 2px solid #fff;
    text-align   : center;
    color        : #555;
    text-shadow  : 1px 1px 1px #eee;
    padding-top  : 14px;
    font-size    : 1.5em;
}

.homepanel .footer dl:last-child {
    border-right : 0;
}

.homepanel .footer dt {
    font-size   : 2.3em;
    line-height : 1em;
}

.user-button {
    background : none;
    border     : none;
}

.user-button .x-btn-arrow {
    background-image : url("/media/js/ext/resources/ext-theme-neptune/images/button/default-small-s-arrow.png");
}

.user-button .x-btn-inner {
    color         : #fff;
    padding-right : 4px !important;
}

.noavatar {
    background : url(../img/user.png) no-repeat left center;
}

/* TABS STYLING */
.icon-home {
    font-size   : 1.4em;
    margin-left : -1px;
    color       : rgb(50, 109, 156);
}

.x-tab-active .icon-home {
    color : dodgerblue;
}

.mainview-body {
    border-top             : 1px solid #ddd;
    box-shadow             : 0px 0px 6px #999;
    border-top-left-radius : 3px;
    z-index                : 2;
}

.user-arrow-ct {
    position      : absolute;
    right         : -2px;
    bottom        : -1px;
    z-index       : 2;
    background    : #f8f8f8;
    border        : 1px solid #d8d8d8;
    border-radius : 12px;
    width         : 12px;
    height        : 12px;
    padding       : 4px 2px;
    cursor        : pointer;
}

.user-arrow-ct:hover {
    border-color : #999;
}

.user-arrow-ct:hover .user-arrow {
    border-color : #777;
}

.user-arrow {
    width              : 0;
    height             : 0;
    border-color       : #aaa;
    border-right-color : transparent !important;
    border-left-color  : transparent !important;
    border-width       : 4px 3px 0;
    border-style       : solid;
}

.light-button {
    background-image : -moz-linear-gradient(top, #fff, #e0e0e0);
    background-image : -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e0e0e0));
    background-image : -webkit-linear-gradient(top, #fff, #e0e0e0);
    background-image : -o-linear-gradient(top, #fff, #e0e0e0);
    background-image : linear-gradient(to bottom, fff, #e0e0e0);
    border-color     : rgb(47, 132, 194);
    z-index          : 3;
}

.light-button:hover {
    background-image : -moz-linear-gradient(top, #f5f5f5, #d7d7d7);
    background-image : -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#d7d7d7));
    background-image : -webkit-linear-gradient(top, #f5f5f5, #d7d7d7);
    background-image : -o-linear-gradient(top, #f5f5f5, #d7d7d7);
    background-image : linear-gradient(to bottom, f5f5f5, #d7d7d7);
}