dl, dd, dt, ul, li {
    margin  : 0;
    padding : 0;
}

body {
    background      : rgb(58, 153, 216) url(../img/logosmall.png) no-repeat 6px 8px !important;
    background-size : auto 45px !important;
    font-family     : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight     : 300;
}

.x-grid-row .x-grid-cell,
.x-tab-inner,
.x-toolbar .x-toolbar-text,
.x-form-item, .x-form-field, .x-form-item-label, .x-form-display-field {
    font-family : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight : 300;
}

.x-btn-inner {
    font-weight : normal !important;
    font-family : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.x-panel-body-default,
.x-border-layout-ct {
    background : #fff;
}

div.x-splitter {
    background : #fff;
}

.beta {
    position    : absolute;
    top         : 33px;
    left        : 139px;
    color       : yellow;
    font-size   : 10px;
    font-family : "Monaco", "Inconsolata", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.x-boxselect input {
    padding-left : 3px;
}

.viewport-top-toolbar {
    overflow      : visible;
    color         : #fff;
    padding-right : 10px;
}

.viewport-top-toolbar a {
    color           : #fff;
    text-decoration : none;
}

.viewport-top-toolbar .x-box-inner {
    overflow : visible;
}

.user-avatar img {
    height : 35px;
    border : 1px solid #f6f6f6;
    margin : 9px 0 0 3px;
}

dl.userinfo {
    line-height : 1.2em;
    padding-top : 8px;
}

.userinfo dd {
    text-align  : center;
    font-weight : bold;
}

.x-panel-header-text-container-default,
.x-tab-inner {
    font-size : 14px !important;
}

.star {
    background : url('/media/img/star_emp.png');
    transition : opacity 0.5s;
}

.filledStar, .filledStar .star {
    background : url('/media/img/star_full.png');
}

.filledStar .star {
    display : block !important;
}

.x-grid-cell .star {
    float  : right;
    width  : 16px;
    height : 16px;
}

.rating {
    font-size : 10px;
}

.rate_down {
    margin-right : 10px;
    color        : #FF0000;
    font-size    : 14px;
}

.rate_up {
    margin-left : 10px;
    color       : #00FF00;
    font-size   : 14px;
}

.x-tab-default .x-tab-glyph {
    font-size : 22px;
}

#disqus_thread {
    position    : absolute;
    left        : -10000px;
    top         : -10000px;
    overflow    : auto;
    margin-left : 10px;
}

/*
.CodeMirror-scroll {
	padding-bottom     : 0px !important;
}

.CodeMirror-sizer {
	margin-bottom      : -30px;
}

.CodeMirror-scroll div div:nth-child(2) {
    height          : 0px !important;
}


.CodeMirror-gutter {
	padding-bottom     : 0px !important;
	margin-bottom      : -30px !important;
}
*/

.homepanel h2 {
    color      : #666;
    font-size  : 3em;
    padding    : 20px 0 0 0;
    text-align : center;
    margin     : 0;
}

.homepanel .logo-ct {
    height     : 60%;
    overflow   : hidden;
    text-align : center;
    clear      : both;
}

.homepanel .x-panel-body {
    background      : url(../img/siestalogo.png) no-repeat center center;
    background-size : 20%;
}

.homepanel .footer {
    background-color : #ebebeb;
    position         : absolute;
    bottom           : 0;
    left             : 0;
    height           : 100px;
    width            : 100%;
}

.homepanel .footer dl {
    float        : left;
    width        : 33%;
    height       : 100%;
    border-right : 2px solid #fff;
    text-align   : center;
    color        : #555;
    text-shadow  : 1px 1px 1px #eee;
    padding-top  : 14px;
    font-size    : 1.5em;
}

.homepanel .footer dl:last-child {
    border-right : 0;
}

.homepanel .footer dt {
    font-size   : 2.3em;
    line-height : 1em;
}

.user-button {
    background : none;
    border     : none;
}

.user-button .x-btn-arrow {
    background-image : url("/media/js/ext/resources/ext-theme-neptune/images/button/default-small-s-arrow.png");
}

.user-button .x-btn-inner {
    color         : #fff;
    padding-right : 4px !important;
}

.noavatar {
    background : url(../img/user.png) no-repeat left center;
}

/* TABS STYLING */

.x-tab-default {
    transition : left 0.3s;
}

.x-tab-default-top {
    background  : rgb(176, 214, 239);
    box-shadow  : 1px 1px 1px rgb(58, 113, 186);
    margin-left : 8px;
}

.x-tab-default-top .x-tab-inner {
    color : rgb(88, 152, 222);
}

.x-tab-default-top-active {
    background  : #fff;
    font-weight : bold;
}

.x-tab-default-top-active .x-tab-inner {
    color : rgb(88, 152, 222);
}

.icon-home {
    font-size   : 1.4em;
    margin-left : -1px;
    color       : rgb(50, 109, 156);
}

.x-tab-active .icon-home {
    color : dodgerblue;
}

.x-tab-bar-strip {
    height : 0;
}

.mainview {
}

.mainview-body {
    border-top             : 1px solid #ddd;
    box-shadow             : 0px 0px 6px #999;
    border-top-left-radius : 3px;
    z-index                : 2;
}

.x-tab-bar-body {
    margin-top : 5px;
}

.x-tool-expand-top, .x-tool-expand-bottom,
.x-tool-collapse-top, .x-tool-collapse-bottom,
.expandcollapse {
    background-image : url(../img/expand.png);
    background-color : transparent !important;
    border           : 0 none;
    opacity          : 0.5;
}

.x-tool-expand-top:hover, .x-tool-expand-bottom:hover,
.x-tool-collapse-top:hover, .x-tool-collapse-bottom:hover,
.expandcollapse:hover {
    opacity          : 0.8;
}

.x-tab-default a.x-tab-close-btn {
    background-image    : url(../img/delete.png);
    opacity             : 0.6;
    background-position : 0 0;
    right               : 1px;
}

.x-tab-default a.x-tab-close-btn:hover {
    background-position : 0 0;
    opacity             : 1;
}