.testCasesList {
    font-size: 14px; 
    position: relative;
}

.star {
    background: url('/media/img/star_emp.png');
}

.star:hover, .filledStar {
    background: url('/media/img/star_full.png');
}

/*
.testCasesList .star, .filledStar {
    background-position: left center;
    right: auto;
    width: 16px; 
    cursor: pointer;
    white-space: nowrap; 
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0; 
    height: 16px;    
}
*/

.testCasesList .nameHolder {
    line-height: 16px;
    color: #666666;
    display: block;
    overflow: hidden;
    white-space: nowrap;    
}

.testCasesList .date {
    font-size: 10px; 
    position: absolute; 
    right: 0px; 
    color: rgb(207, 207, 207); 
    top: -5px;    
}

.x-grid-cell-inner .star {
    display: none;
}

.x-grid-row-over .star {
    display: block;
}

.x-column-header-over .x-column-header-trigger {
    display: none;
}

.testNameColumn .x-column-header-trigger {
    display: block;
}

.sortDesc {
    background-image: url("/media/img/sort_desc.png");    
}

.sortAsc {
    background-image: url("/media/img/sort_asc.png");    
}

.x-grid-row-alt .x-grid-td {
    background-color: #FFF;
}

.mineTest .x-grid-td,
.mineTest .x-grid-row-alt .x-grid-td,
.mineTest  .x-grid-row-over .x-grid-td,
.mineTest  .x-grid-row-selected .x-grid-td
{
    background-color: #FFF6EA !important;
}

.x-grid-row-over {
    cursor: pointer; 
}

.x-grid-row-over .x-grid-td {
    background-color: #FFF;
    border-color: #E2EFF8;
    cursor: pointer;
}

.x-grid-row-selected .x-grid-td {
    background-color: #FFF;
}

.testCasesList p {
    margin-bottom: 0px;
    clear: both;
    font-size: 14px;
    margin-top: 5px;
    white-space: normal;
    margin-right: 55px;
}

.testCasesList .userName{
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    color: rgb(172, 172, 172);
    float: right;
}

.testCasesList ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.testCasesList ul > li {
    margin-right: 2px;
}

.testCasesList ul > li:hover {
    background-color: #ABC7FC;
    cursor: pointer;
}

.testCasesList ul > li > div {

    padding-right: 5px;
    line-height: 10px;
    font-size: 12px;
    font-weight: normal;
}


    
