.test-template-menu .x-menu-item
{
    height: 30px;
    line-height: 2em;
}

.test-template-menu .x-menu-item-icon
{
    font-size: 1.4em;
}


.test-template-menu .x-menu-item-link
{
    margin-top:4px;
}