.testCasesList
{
    border-right:1px solid rgb(225, 225, 225);
}


.testCasesList .x-header-text
{
    padding-left: 7px;
}


.testcase-list-container .x-panel-body-default {
    background : transparent;
}

.testcase-list-container .x-grid-body {
    background : rgb(58,153,216);
}

.testCasesList .x-column-header-trigger
{
    border: 0 none !important;
    background-color:transparent;
}

.testCasesList .nameHolder {
    margin-bottom : 0px;
    clear         : both;
    font-size     : 13px;
    white-space   : normal;
    margin-right  : 10px;
    line-height   : 14px;
    color         : #444;
    display       : block;
    font-weight   : bold;
}

.filledStar .nameHolder {
    background    : url('/media/img/star_full.png') no-repeat left center;
    padding-left  : 20px;
}

.testCasesList .testNameColumn .x-column-header-trigger {
    display : block;
}

.testCasesList .x-grid-row .x-grid-cell-inner {
    background:#f8f8f8;
}

.testCasesList .x-grid-row td.x-grid-cell
{
    background:transparent;
    cursor : pointer;
}

.testCasesList .testcase-row-selected .x-grid-cell-inner {
    background-color : #fff;
    margin-left: 7px;
}

.testCasesList .testcase-row-selected .x-grid-cell-inner > .top
{
    margin-left:-7px;
}

.testCasesList .testcase-row-over .nameHolder {
    color : #333;
}

.testCasesList .x-grid-cell-inner {
    position : relative;
    padding : 8px 6px 8px 17px;
}

.testCasesList .x-column-header-inner
{
    padding-left:16px;
}

.testCasesList .date,
.testCasesList .userName {
    position     : relative;
    top          : -1px;
    font-size    : 9px;
    margin-right : 3px;
    text-transform: uppercase;
    color        : rgb(172, 172, 172);
}

.testCasesList ul {
    margin-top    : 6px;
    margin-bottom : 0px;
    padding-left  : 0px;
    min-height    : 12px;
    color         : blueviolet;
}

.testCasesList ul > li {
    margin-right : 2px;
    line-height  : 13px;
}

.testCasesList ul > li:hover {
    border-color : #8BA7FC;
    cursor           : pointer;
}

.testCasesList ul > li {
    padding     : 2px 4px !important;
    display     : block;
    float       : left;
    font-size   : 10px;
}

.tag-learn,
li[qtip=learn]{
    background   : #5bb75b !important;
    border-color : rgb(84, 164, 84);
    color        : #fff;
}

.x-btn-plain-toolbar-small-disabled .x-btn-icon-el, .x-btn-plain-toolbar-medium-disabled .x-btn-icon-el, .x-btn-plain-toolbar-large-disabled .x-btn-icon-el {
    background-color:transparent;
}

.testCasesList .x-tool-expand-left .x-tool-img
{
    background:transparent none;
}