.ghost-cursor {
    position   : absolute;
    width      : 19px;
    height     : 22px;
    left       : 0px;
    top        : 0px;
    z-index    : 1000001;
    background : url(../images/cursor-hand.png) no-repeat left center;
}

.ghost-cursor-press {
    background : url(../images/cursor-hand-press.png) no-repeat left center;
}

.ghost-cursor-message {
    background                  : none repeat scroll 0 0 #FFFFFF;
    border                      : 1px solid #CCCCCC;
    color                       : #666666;
    padding                     : 2px 4px;
    position                    : absolute;
    z-index                     : 101;
    border-radius               : 5px;
    box-shadow                  : 1px 1px 1px rgba(200, 200, 200, 0.1);
    -webkit-transition-property : opacity, top;
    -webkit-transition-duration : 2s;
    -moz-transition-property    : opacity, top;
    -moz-transition-duration    : 2s;
    transition-property         : opacity, top;
    transition-duration         : 2s;
    opacity                     : 1;
}

.ghost-cursor-click-indicator {
    position                    : absolute;
    border-radius               : 100%;
    margin-left                 : -3px;
    margin-top                  : -3px;
    -webkit-transition-property : opacity, width, height, margin-left, margin-top, visibility;
    -webkit-transition-duration : 2.5s;
    -moz-transition-property    : opacity, width, height, margin-left, margin-top, visibility;
    -moz-transition-duration    : 2.5s;
    transition-property         : opacity, width, height, margin-left, margin-top, visibility;
    transition-duration         : 2.5s;
    border                      : 2px solid darkred;
    opacity                     : 0.7;
    width                       : 7px;
    height                      : 7px;
    z-index                     : 101;
}

.ghost-cursor-click-indicator-big {
    margin-left : -21px;
    margin-top  : -21px;
    height      : 50px;
    width       : 50px;
    opacity     : 0;
    visibility  : hidden;
}

.x-ie .ghost-cursor {
    z-index : -1;
    display : none;
}
/*=======================================================================================================================================================================================================================
    Panel with test iframe
*/


.tr-container {
    visibility     : visible !important;
}

.x-ie9 .tr-container {
	z-index        : 1;
}

.tr-container .x-panel-collapsed {
    display        : block !important;
    
    visibility     : hidden !important;
    
    z-index        : -1 !important;
}


td.tr-td-vertical-align {
    vertical-align     : middle;
}

.tr-iframe-wrapper {
    position    : absolute;

    left        : -10000px;
    top         : -10000px;
    
    overflow    : auto;
}

.x-ie9 .tr-iframe-wrapper {
	z-index        : 1;
}

iframe.tr-iframe {
    background-color    : white;
}

.tr-iframe-forced {
    z-index                    : 100000 !important;

    border                     : 5px solid;
    border-color               : #d5e7f0;
    -moz-border-radius         : 14px;
    -webkit-border-radius      : 14px;
    border-radius              : 14px;
}

.tr-iframe-hidden {
    left        : -10000px !important;
    top         : -10000px !important;
}



/*=======================================================================================================================================================================================================================
    Toolbar icons
*/


.view-source
{
    background : url(../images/text_align_left.png) no-repeat left center;
}

.test-source-ct .syntaxhighlighter
{
    overflow:hidden !important;
}


/* fixes row height sync in Chrome */
.syntaxhighlighter .line {
    height         : 1.2em !important;
    vertical-align : middle !important;
}


.show-dom
{
    background : url(../images/monitor.png) no-repeat left center;
}

.show-simulated-actions
{
    background : url(../images/lightning.png) no-repeat left center;
}

.rerun
{
    background : url(../images/arrow_rotate_anticlockwise.png) no-repeat left center;
}/*=======================================================================================================================================================================================================================
    Common and unsorted
*/

.assertiongrid-initializing
{
    color           : #777;
    margin          : 5px;
    font-size       : 10px;
    text-align      : left;
}


.siesta-assertion-grid .x-grid-cell-inner {
	line-height            : 23px !important;
	padding-bottom         : 4px !important;
}

/*=======================================================================================================================================================================================================================
    Summary row
*/

.tr-summary-row {
    background-color        : #d5e7f0 !important;
    padding-left            : 10px;
}


.tr-summary-row .x-tree-icon,
.tr-summary-row .x-tree-elbow-empty,
.tr-summary-row .x-tree-elbow-end 
{
    display                 : none !important;
}

.tr-summary-row .x-grid-cell-inner 
{
    line-height             : 17px;
    padding-left            : 6px;
    padding-top             : 5px;
    padding-bottom          : 5px;
}

.tr-summary-failure {
    background-color        : #FF8186 !important;
}

.tr-summary-failure span {
    font-weight             : bold;
}


/*=======================================================================================================================================================================================================================
    Diagnostic row
*/

.tr-diagnostic-row {
    background-color        : #d5e7f0 !important;
}

.tr-diagnostic-row .x-tree-icon
{
    display                 : none !important;
}

.tr-diagnostic-row span.assertion-text
{
    font-weight             : bold;
}

.tr-warning-row span.assertion-text {
    color                   : red;
}

.tr-diagnostic-row td
{
    border-width            : 0 0 !important;
    background-image        : none !important;
}


/*=======================================================================================================================================================================================================================
    Annotation
*/

.tr-assert-row-annontation {
	font-family        : "Courier New", monospace, serif;
	font-size          : 1em;
	
	padding-top        : 10px;
	line-height        : 13px;
}


/*=======================================================================================================================================================================================================================
    Assertion row
*/

.si-hide-passes .tr-assertion-row-passed
{
    display         : none;
}


.tr-assertion-row-passed .x-tree-icon,
.tr-subtest-row-green .x-tree-icon 
{
    background-image : url(../images/ok.png) !important;
}

.tr-assertion-row-failed .x-tree-icon,
.tr-subtest-row-red .x-tree-icon
{
    background-image : url(../images/bug.png) !important;
}

.tr-assertion-row-failed {
    background-color       : #ff8186;
}

.tr-assertion-row-failed.x-grid-row-over, .tr-assertion-row-failed.x-grid-row-over .x-grid-cell {
    background-color       : #f7a2a6;
    background-image       : none;
}

.tr-todo-row-passed .x-tree-icon {
    background-image : url(../images/ok-todo.png) !important;
}

.tr-todo-row-failed .x-tree-icon {
    background-image : url(../images/bug-todo.png) !important;
}


.tr-waiting-row .x-tree-icon {
    background-image    : url(../images/spinner.gif) !important;
}

.tr-waiting-row .assertion-text {
    color               : #666;
}

.tr-waiting-row-passed .x-tree-icon {
    background-image    : url(../images/clock_check.png) !important;
}

.tr-waiting-row-passed .assertion-text {
    color               : navy;
}

.tr-subtest-row-working .x-tree-icon {
    background-image    : url(../images/spinner.gif) !important;
}

/*=======================================================================================================================================================================================================================
    Exception row
*/

.tr-exception-row .x-tree-icon {
	background-image : url(../images/flag-red.png) !important;
}

.tr-exception-row {
    background-color        : #fc585e;
}

.tr-exception-row .x-grid-cell {
    font-weight             : bolder;
}

.tr-exception-todo-row .x-tree-icon {
    background-image : url(../images/flag-green.png) !important;
}


/*=======================================================================================================================================================================================================================
    Sub test row (including describe/it)
*/

.tr-subtest-row-describe .x-grid-cell-inner {
    font-weight         : bolder;
}

.tr-subtest-row-describe {
    background-color    : rgb(154, 228, 252);
}

.siesta-assertion-grid .x-grid-cell-inner img {
    vertical-align      : middle;
}

.siesta-assertion-grid .x-tree-icon {
    margin-top          : -2px;
    margin-right        : 5px;
}

