#Ignore log files of any kind
log-*.php

/.project
/.externalToolBuilders
/.idea

.DS_Store

/application/config/account/facebook.php
/application/config/account/twitter.php
/application/config/account/recaptcha.php

/media/js/fiesta/fiesta-all.js
/media/js/fiesta/fiesta-all-debug.js
/media/css/fiesta-all.css