@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-file-css, .icon-file, .icon-file-2, .icon-stats, .icon-file-xml, .icon-checkmark, .icon-home, .icon-facebook, .icon-google-plus, .icon-twitter, .icon-IE, .icon-opera, .icon-safari, .icon-chrome, .icon-firefox, .icon-html5, .icon-html5-2, .icon-arrow-up, .icon-arrow-down, .icon-close, .icon-star, .icon-star-2, .icon-attachment, .icon-link, .icon-copy, .icon-plus, .icon-minus, .icon-play, .icon-play-2, .icon-pause, .icon-stop, .icon-forward, .icon-search {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-file-css:before {
	content: "\e00f";
}
.icon-file:before {
	content: "\e001";
}
.icon-file-2:before {
	content: "\e010";
}
.icon-stats:before {
	content: "\e011";
}
.icon-file-xml:before {
	content: "\e000";
}
.icon-checkmark:before {
	content: "\e002";
}
.icon-home:before {
	content: "\e003";
}
.icon-facebook:before {
	content: "\e004";
}
.icon-google-plus:before {
	content: "\e005";
}
.icon-twitter:before {
	content: "\e006";
}
.icon-IE:before {
	content: "\e007";
}
.icon-opera:before {
	content: "\e008";
}
.icon-safari:before {
	content: "\e009";
}
.icon-chrome:before {
	content: "\e00a";
}
.icon-firefox:before {
	content: "\e00b";
}
.icon-html5:before {
	content: "\e00c";
}
.icon-html5-2:before {
	content: "\e00d";
}
.icon-arrow-up:before {
	content: "\e00e";
}
.icon-arrow-down:before {
	content: "\e012";
}
.icon-close:before {
	content: "\e013";
}
.icon-star:before {
	content: "\e014";
}
.icon-star-2:before {
	content: "\e015";
}
.icon-attachment:before {
	content: "\e016";
}
.icon-link:before {
	content: "\e017";
}
.icon-copy:before {
	content: "\e018";
}
.icon-plus:before {
	content: "\e019";
}
.icon-minus:before {
	content: "\e01a";
}
.icon-play:before {
	content: "\e01b";
}
.icon-play-2:before {
	content: "\e01c";
}
.icon-pause:before {
	content: "\e01d";
}
.icon-stop:before {
	content: "\e01e";
}
.icon-forward:before {
	content: "\e01f";
}
.icon-search:before {
	content: "\e020";
}
